* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #add8e6;
}

.dashed-border {
    border: black 2px dashed;
}
/*      Header      */

.header-container {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.header-container .container {
    display: flex;
    width: 1200px;
    background-color: #daa520;
}

.header-container .container > div {
    padding: 15px; 
}

.header-container .container .right-left {
    width: 240px;
    flex-shrink: 0;
}

.header-container .container #link{
    flex-grow: 1;
    text-align: center;
}

.header-container .container #logo{
    flex-grow: 1;
    text-align:start;
}

.header-container .container #login{
    flex-grow: 1;
    text-align:end;
}

/*      /Header      */

/*       Main     */

.main-container {
    height: 600px;
    padding: 140px auto;
    background-color: #d3d3d3;
}

main > div:nth-child(even) {
    background-color: white;
}

/*     Main-Line1     */

.container-line1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00008b;
    margin-bottom: 5px; 
    height: 500px;
}

.container-line1 .sub-container {
    background-color: #ee82ee;
    height: 400px;
    width: 900px;
}

/*     /Main-Line1     */

/*     Main-Line2    */
.container-line2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-line2 .sub-container {
    display: flex;
    background-color: #ee82ee;
    height: 500px;
    width: 1200px;
}

.container-line2 .sub-content1 {
    background-color: #1e90ff;
    flex-grow: 1;
}

.container-line2 .sub-content2 {
    background-color: #ffc0cb;
    width: 480px;
    flex-shrink: 0;
}
/*     /Main-Line2     */






/*       /Main     */



