* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #add8e6;
}
/*      Header      */

.header-container {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.header-container .container {
    display: flex;
    width: 1200px;
    background-color: #daa520;
}

.header-container .container > div {
    border: black 2px dashed;
    padding: 15px; 
}

.header-container .container .right-left {
    width: 240px;
    flex-shrink: 0;
}

.header-container .container #link{
    flex-grow: 1;
    text-align: center;
}

.header-container .container #logo{
    flex-grow: 1;
    text-align:start;
}

.header-container .container #login{
    flex-grow: 1;
    text-align:end;
}

/*      /Header      */

/*       Main     */

/*     Main-Line1     */
.container-line1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: #00008b;
    margin-bottom: 5px; 
}

.container-line1 .sub-container {
    border: black 2px dashed;
    background-color: #ee82ee;
    height: 400px;
    width: 900px;
}
/*     /Main-Line1     */

/*       /Main     */



